<section>
  <section-title @title={{@title}} />
  <select class="letter-selector" oninput={{action monthSelected}}>
    {{#each letterDates key="@index" as |dateObj|}}
      <option value={{dateObj.date}} selected={{dateObj.isSelected}} >{{dateObj.date}}</option>
    {{/each}}
  </select>


  <div class="letter-container">
    <p class="letter">{{letterContent}}</p>
    <div class="veil hide-for-large" />
  </div>

  <div class="pdf-link">
    <a href={{pdfLink}} target="_blank">
      <span class="pdf-link-text">Full Letter in</span>
      &nbsp;
      <i class="fa fa-file-pdf-o pdf-icon" />
    </a>
  </div>


</section>