<section>
  <section-title @title="Rev Emmanuel Singh" @sectionTitleClass="small" />
  <div class="img-container">
    <img src={{displayRevImg}} alt="" class="ðŸ‘¨ðŸ¾ {{fadeIn}}">
  </div>

  <div class="bio-container">
    <h2 class="bold bio-heading">Bio</h2>
    {{#each missionaryBio key="@item" as |obj key|}}
      <p class="bio-text"><span>{{key}}</span>: <span>{{obj}}</span></p>
    {{/each}}
  </div>

  <div class="description-container">
    {{#each @data.text key="@index" as |para|}}
      <p class="ðŸ‘¨ðŸ¾-details">{{para}}</p>
    {{/each}}
    <p class="ðŸ‘¨ðŸ¾-details">
      <a href={{@data.link}} target="_blank" >
        You may also read more about him at this Salt Shaker's <em>article</em>.
      </a>
    </p>
  </div>

</section>