<div id="main">
  <main-menu @gray={{gray}} />
  <header-section class={{sections.main.class}} @data={{sections.main}} />
  <history-section id="history" class="history-section" @actionHandler={{action actionHandler}} />
  <fellowship-section id="fellowship" class="fellowship-section" />
  <sermon-outlines-section id="sermon-outlines" class="sermon-outlines-section" />
  <missionary-section id="missionary" class="missionary-section" />
  <letters-section id="letters" class="letters-section" @title="Our Letter to Kolkata" @letters={{ourLetters}} />
  <gallery-section class="gallery-section" />
  <letters-section class="letters-section" @title="Their Letter to Us" @letters={{theirLetters}} />
  <friend-section id="make-a-friend" class="friend-section" />
  <listing-section id="prayer-requests" class="listing-section" @title="Prayer Requests" @subtitle={{"Phillipians 4:6"}} @list={{prayerRequestsArray}} />
  <listing-section id="updates" class="listing-section" @title="Updates" @subtitle={{false}} @list={{updatesArray}} />
  <birthday-section id="birthday" class="birthday-section" />
  <encourage-section id="encourage" class="encourage-section" />
  <kolkata-section id="kolkata" class="kolkata-section" />
</div>

