<div id="main">
  <main-menu @gray={{gray}} @data={{sections}} @actionUp={{action actionHandler}} @should_menu_bg_display={{should_menu_bg_display}} @not_header={{not_header}} />
  <header-section id="header" class={{sections.[1].class}} @data={{sections.[1]}} />
  <history-section id="history" class="history-section" @actionHandler={{action actionHandler}} @data={{historySectionData}} />
  <fellowship-section id="fellowship" class="fellowship-section" @photosData={{photosDataForAboutSection}} @infoData={{fellowshipData}} @orientation={{orientation}} />
  <sermon-outlines-section id="sermon-outlines" class="sermon-outlines-section" @data={{sermonsData}} />
  <missionary-section id="missionary" class="missionary-section" @data={{missionaryData}} />
  {{#if ourLetters.length}}
  <letters-section id="our-letters" class="letters-section" @title="Our Letter to Kolkata" @letters={{ourLetters.data}} />
  {{/if}}

  <gallery-section id="gallery" class="gallery-section" @data={{imageGalleryData}} />

  {{#if theirLetters.length}}
  <letters-section id="their-letters" class="letters-section" @title="Their Letter to Us" @letters={{theirLetters.data}} />
  {{/if}}

  <friend-section id="make-a-friend" class="friend-section" @data={{personsDataForFriendSection}} />

  {{#if prayerRequestsArray.length}}
  <listing-section id="prayer-requests" class="listing-section" @title="Prayer Requests" @subtitle={{prayer_section_verse_array}} @list={{prayerRequestsArray}} />
  {{/if}}

  {{#if updatesArray.length}}
  <listing-section id="updates" class="listing-section" @title="Updates" @subtitle={{false}} @list={{updatesArray}} />
  {{/if}}

  {{#if helpDesiredArray.length}}
  <listing-section id="how-we-can-help" class="listing-section" @title="How We Can Help" @subtitle={{false}} @list={{helpDesiredArray}} />
  {{/if}}


  <birthday-section id="birthdays" class="birthday-section" @data={{personsDataForBirthdaySection}} />
  <encourage-section id="encourage" class="encourage-section" />
  <kolkata-section id="kolkata" class="kolkata-section" />


</div>

