<Section>
  <section-title @title="The Fellowship" />

  <div class="info-section {{slideLeft}}" style="transform: translate3d(-{{leftPosition}}vw, 0, 0); width: {{width}}">
    {{#each infoArray key="@index" as |info|}}
      <span class="info-section-block">
        <h2 class="info-section-text">{{info}}</h2>
      </span>

    {{/each}}
  </div>

  <div class="profile-pic-container">
    {{#each photosForDisplay key="@index" as |photo|}}
      {{#if photo.img}}
        <img class="profile-pic-small {{photo.className}}" src={{photo.img}} alt="" />
      {{/if}}
    {{/each}}

  </div>
</Section>