<Section>
  <section-title @title="The Fellowship" />

  <div class="info-section {{slideLeft}}" style="transform: translate3d(-{{leftPosition}}vw, 0, 0); width: {{width}}">
    {{#each infoArray key="@index" as |info|}}
      <span class="info-section-block">
        <h2 class="info-section-text">{{info}}</h2>
      </span>

    {{/each}}
  </div>

  <div class="profile-pic-container {{fade_in}}">
    {{#each photos_for_display key="@index" as |photo index|}}
      {{#if photo.img}}
        <img class="profile-pic-small" style="animation-delay: {{photo.transition_delay}}s" src={{photo.img}} alt="" />
      {{/if}}
    {{/each}}

  </div>
</Section>
